page-contact {
 
    .card-title {
        color: #673ab7;
        padding: 10px;
        font-size: 1.2em;
        font-weight: 500;
    }

    .card-info {
        margin:10px;
        font-style: italic;
        font-size: 1em;
        font-weight: 500;
    }
}
