page-home {
    .btn-facebook {
        color: #ffffff!important;
        background: #3b5998!important;
    }

    .btn-google-plus {
        color: #ffffff!important;
        background: #dd4b39!important;
    }

    .btn-youtube {
        color: #ffffff!important;
        background: #ff4b39!important;
    }

    .btn-linkedin {
        color: #ffffff!important;
        background: #007db6!important;
    }

    .btn-twitter {
        color: #ffffff!important;
        background: #55acee!important;
    }

    .btn-mail {
        color: #ffffff!important;
        background:#512da8!important;
    }
}
